<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css.map">
<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css.map">
<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css.map">
<link rel="stylesheet" type="text/css" href="css/my.css">

	<title></title>
</head>
<body>
<nav class="navbar navbar-light my-nav">
  <div class="container">
      <div class="row justify-content-between" style="width:100%">
        <a class="navbar-brand col-4" href="/">Instagram</a>
        <div class="col-4">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="검색">
            </form>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </div>
      </div>
  </div>
</nav>
<div class="row">
  <div class="main-left col-4">
  </div>
  <div class="main-center col-4">
  	<div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card"style="margin-top:30px;" >
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed writing" style="text-decoration:none;color:black;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              수정
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            <div class="container">
              <form action="/home/update/<%= @post.id %>" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleTextarea"></label>
                  <textarea type="text" name="content" class="form-control" id="exampleTextarea" rows="3"><%= @post.content %></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">New Image</label>
                  <input type="file" class="form-control-file" name="pic" accept="image/*" id="exampleInputFile" aria-describedby="fileHelp">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-right col-4">
  </div>
</div><br>



<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery_ujs.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>