<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css.map">
<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css.map">
<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css.map">
<link rel="stylesheet" type="text/css" href="css/my.css">

	<title></title>
</head>
<body>
<nav class="navbar navbar-light my-nav">
  <div class="container">
      <div class="row justify-content-between" style="width:100%">
        <a class="navbar-brand col-4" href="/">Instagram</a>
        <div class="col-4">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="검색">
            </form>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </div>
        
            <%if user_signed_in?%>
                <div class="navbar-nav"><a class="nav-link" href="/users/sign_out">sign out<span class="sr-only">(current)</span></a></div>
               <div class="nav-link"><%= current_user.firstname %></div>
            <%else%>
                <a href="/users/sign_in">로그인</a>
            <%end%>
       
      </div>
  </div>
</nav>
<div class="row">
  <div class="main-left col-4">
  </div>
  <% if user_signed_in? %>
  <div class="main-center col-4">
  	<div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card" style="margin-top:30px;" >
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed writing" style="text-decoration:none;color:black;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              글작성하기
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            <div class="container">
              <form action="/home/create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleTextarea"></label>
                  <textarea type="text" name="content" placeholder="글을 입력하세요" class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" class="form-control-file" name="pic" accept="image/*" id="exampleInputFile" aria-describedby="fileHelp">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--게시물-->
      <% @posts.each do |a| %>
      <div class="card insta-content">
        <div class="card-header">
           이름
        </div>
        <div class="card-block">
          <img class="card-img-top card-imgs" src="<%= a.img_url %>" alt="Card image cap">
        </div>
        <div class="card-footer text-muted" style="text-align:left;">
          <%= a.content %>
          <br><br><p>#Hashtag</p>
        </div>
        <form class="card-header" action="/home/reply" method="post">
          Replies<br>
          <input class="form-control mr-sm-2" type="text" name="reply_content" placeholder="댓글">
          <input type="hidden" name="post_id" value="<%= a.id %>">
          <input type="submit" value="작성"><br>
        </form>
        <div class="card-header">
          <% a.replies.each do |r| %>
            <%= r.content %>
              <a href="/home/reply/destroy/<%= r.id %>" data-method="post" data-confirm="진짜 삭제할까?"> 삭제</a><br><br>
                <% r.rereplies.each do |rr| %>
                  <%= rr.content %><a href="/home/rereply/destroy/<%= rr.id %>" data-method="post" data-confirm="진짜 삭제할까?"> 삭제</a><br>
                <% end %>
              <form class="card-header" action="/home/<%= r.id %>/rereply" method="post">
                <input class="form-control mr-sm-2" type="text" name="rereply_content" placeholder="<%= r.id %>댓댓글">
                <input type="submit" value="작성"><br>
              </form>
          <% end %>
        </div>
        <div class="card-header">
          <a href="/home/edit/<%= a.id %>">수정</a>
          <a href="/home/destroy/<%= a.id %>" data-method="post" data-confirm="진짜 삭제할까?">삭제</a>
        </div>
      </div>
      <% end %>
      <!--게시물 끝-->
    </div>
    <div class="main-right col-4">
  </div>
</div>
<% end %>



<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery_ujs.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>