<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css.map">
<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css.map">
<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css.map">
<link rel="stylesheet" type="text/css" href="css/my.css">

	<title></title>
</head>
<body>
<nav class="navbar navbar-light my-nav">
  <div class="container">
      <div class="row justify-content-between" style="width:100%">
        <a class="navbar-brand col-4" href="#">Instagram</a>
        <div class="col-4">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="검색">
            </form>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </div>
      </div>
  </div>
</nav>
<div class="row">
  <div class="main-left col-4">
  </div>
  <div class="main-center col-4">
  	<div id="accordion" role="tablist">
      <div class="card"style="margin-top:30px;" >
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed writing" style="text-decoration:none;color:black;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              글작성하기
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            <div class="container">
              <form action="/home/create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="exampleSelect1">Example select</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleTextarea"></label>
                  <textarea type="text" name="content" class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">New Image</label>
                  <input type="file" class="form-control-file" name="pic" accept="image/*" id="exampleInputFile" aria-describedby="fileHelp">
                  <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% @posts.each do |a| %>
      <div class="card insta-content">
        <div class="card-header">
           이름
        </div>
        <div class="card-block">
          <img class="card-img-top card-imgs" src="<%= a.img_url %>" alt="Card image cap">
        </div>
        <div class="card-footer text-muted" style="text-align:left;">
          <%= a.content %>
          <br><br><p>#Hashtag</p>
        </div>
        <div class="card-header">
          <a href="/home/edit/<%= a.id %>">수정</a>
          <a href="/home/destroy/<%= a.id %>" data-method="post" data-confirm="진짜 삭제할까?">삭제</a>
        </div>
      </div>
      <% end %>
    </div>
    <div class="main-right col-4">
  </div>
</div><br>



<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery_ujs.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>