
 body{
     background-color:#fafafa;
 }
.cont{
      position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.nav-in-link{
    text-decoration: none;
    color: black;
}
.nav-in-link:hover{
    text-decoration: none;

}
.nav-in-link:focus{
  -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
          box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}
.main{
    width:40%;
    margin:auto;
    margin-bottom:60px;
}
.card-imgs{
    width:100%;
}
.insta-content{
    margin-bottom: 30px;
    margin-top: 30px;
}
.my-nav{
    background-color: white;
    border:0.7px solid rgba(0, 0, 0, 0.125);
}
.main-left, .main-right, .main-center{
    padding:0;
}
.right, .left{
    margin-top:30px;
    height: 800px;
    width:80%;
    text-align: center;
    border:0.7px solid rgba(0, 0, 0, 0.125);
}